
<nav class="navbar navbar-default" xmlns:th="http://wwww.thymeleaf.org"
	th:fragment="header">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Book Store</a>
		</div>

		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/main/index" th:text="#{home}">Home</a></li>
					<li><a href="/main/add" th:text="#{create}">Create</a></li>
					<li><a href="#" th:text="#{aboutUs}">About Us</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/?lang=kh"><img alt=""
							src="/assets/images/cambodia_flag.png"
							style="height: 15px; border: 1px solid white;" /> Khmer</a></li>
					<li><a href="/?lang=en"><img alt=""
							src="/assets/images/england_flag.png"
							style="height: 15px; border: 1px solid white;" /> English</a></li>
					<li><a href="/logout">LogOut</a></li>
					<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span>
						Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						Login</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</nav>